<nav class="py-8 flex justify-center fixed w-full z-20 top-0 left-0">
    <ul class="text-white font-medium text-md text-gray-900 dark:text-white rounded-full p-2 px-5 bg-gray-800"
        style="display: flex;flex-direction: row;justify-content: center;align-items: center;gap:2em;
    border: 2px rgba(255,255,255,0.25) solid; width: fit-content;">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/student">Student List</a>
        </li>
        <li>
            <a href="/student/portfolio">My Portfolio</a>
        </li>
        <li>
            <a href="/student/resume">Resume</a>
        </li>
    </ul>
</nav>